body {
  background-image: url('Pizza Board Background.png'); /* Set a background image */
  background-repeat: no-repeat; /* Don't repeat the image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Position the background in the center */
  background-attachment: fixed; /* Make the background fixed while scrolling */ /* Make the background fixed while scrolling */
  
  
}

.navbar {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #fec012;
}

.navbar .nav-logo .logo-image {
  float: left;
  background-color: #fec012;

}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
  overflow: hidden;
  float: right;
}

.navbar .nav-menu .nav-item{
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;

}

.navbar .nav-menu .nav-link {
  padding: 10px 10px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  background-color: #fec012;
  border-radius: 10px;
  transition: 0.3s ease;
  list-style: 100px;
  
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background:linear-gradient(90deg, #338c17,#eca815);
} 






.content-container{
     /* Semi-transparent grey */
    max-width: 200px; /* Maximum width */
    margin: 230px auto; /* Centered with a 20px margin */
    padding: 1000px; /* Padding inside the container */
    justify-content: right; /* Align content to the right */
    position:left; /* Incorrect property, 'center' is not valid in CSS */

    text-align: center; /* Center the text */

}































